/* Back ground color */
/* *{
    background-color: azure;
} */

/* Navbar style */
@viewport {
  width: device-width;
  zoom: 1.1;
  min-zoom: 0.4;
  max-zoom: 2;
  user-zoom: fixed;
  }
body {
    font-family: sans-serif;
  }
  
  a {
    text-decoration: none;
    color: black;
    font-size: 5rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  /* nav styles */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    /* background-color: #f6e5ce; */
    border-radius: 5px;
  }
  .avatar{
    vertical-align: middle;
   width: 60px;
   height: 60px;
   border-radius: 50%;
   bottom: 5px;
  }
  .logo {
    font-size: 3rem;
    color: rgb(5, 5, 116);
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
     font-size: 50px;
     box-shadow: 0 4px 7px 0
     rgb(211, 246, 248),
     0 6px 15px 0
     rgb(189, 243, 245);

     animation: rotate 5s
     cubic-bezier(.54,.13,.30,.87);
  }


   @keyframes rotate {
     0%{transform: rotateY(0turn);}
     100%{transform: rotateY(9turn);}
   }
  
  .hamburger {
    padding-right: 20px;
    cursor: pointer;
  }
  
  .hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: black;
  }
  
  .nav__link {
    position: fixed;
    /* width: 40%; */
    border-radius: 8px;
    top: 5rem;
    display: flex;
    flex-direction: column;
    /* background-color: hsl(180, 21%, 93%); */
    left: 50%;
    width: 200px;
    margin-left: -100px;

  }
  
  .nav__link a {
    display: block;
    text-align: center;
    padding: 10px 0;
    
  }
  
    .nav__link a:active,:focus{
    /* background-color: rgb(244, 169, 169); */
    border-radius: 0px;
   
    outline: none;
    /* box-shadow: none; */
  } 
  /* .btn:focus {
    
    
    }  */
  
  .hide {
    display: none;
  }

  @media screen and (min-width: 600px) {
    .nav__link {
      display: block;
      position: static;
      width: auto;
      margin-right: 20px;
      background: none;
    }
  
    .nav__link a {
      display: inline-block;
      padding: 15px 18px;
    }
  
    .hamburger {
      display: none;
    }
  }

  /* Background image */
  body{
    background-image: url(../images/im.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    
  }
  /* Text over lap o image */

  .le{
    position: absolute;
    top:40%;
    left: 25%;
    /* bottom: 30%; */
    /* color: aqua; */
  }
  .left{
    position: absolute;
    top:50%;
    left: 25%;
    /* bottom: 30%; */
    /* color: aqua; */
  }
  .lef{
    position: absolute;
    top:60%;
    left: 25%;
    /* bottom: 30%; */
    /* color: aqua; */
  }
  .left,
  .lef {
    animation: neonAnim 2s alternate-reverse infinite;
    color: #A9C62A;
    font-family: Cursive;
    font-size: 72px;
}
@keyframes neonAnim {
from {
    text-shadow:
      0 0 26px rgba(169, 198, 42, .7),
      0 0 56px rgba(169, 198, 42, .7),
      0 0 116px rgba(169, 198, 42, .7);
  }
  to {
    text-shadow:
      0 0 21px rgba(169, 198, 42, .7),
      0 0 36px rgba(169, 198, 42, .7),
      0 0 76px rgba(169, 198, 42, .7);
  }
}
  .le {
    animation: neonAnim 2s alternate-reverse infinite;
    color: #064942;
    font-family: Cursive;
    font-size: 72px;
}
@keyframes neonAnim {
from {
    text-shadow:
      0 0 26px rgba(85, 95, 37, 0.7),
      0 0 56px rgba(84, 95, 38, 0.7),
      0 0 116px rgba(68, 81, 12, 0.7);
  }
  to {
    text-shadow:
      0 0 21px rgba(43, 95, 106, 0.7),
      0 0 36px rgba(56, 61, 33, 0.7),
      0 0 76px rgba(140, 40, 165, 0.7);
  }
}

/* Social icon */

.middle{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 184px;
  left: 90%;
  /* border: 1px solid yellow; */
}
.btn fs-3 i{
  border: 1px solid yellow;
}
#particles-js{
width: 80%;
height: 79%;
/*background: #000;*/
}
/* __________________________________ABOUT_____________________________________ */
